*{
    font-family: SF Pro Display, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
}

.hidden{
    display: none;
}
.visible{
    display: block;
}

button{
    border: none;
    background-color: #FFFFFF00;
    font-weight: 700;
}

#registrationLink{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
}

.navLink{
    text-decoration: none;
}

.inputInfo {
    border: none;
    text-align: right;
    outline: #FFFFFF00;
}

.inputInfoCountry{
    border: none;
    text-align: left;
    outline: #FFFFFF00;
}

select > options{
    text-align: center;
}

.containerDiv{
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.inputDiv{
    border-bottom: 1px solid rgba(189, 189, 189);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.inputDiv1{
    border-bottom: 1px solid rgba(211, 211, 211);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.navDiv{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.secondSection, .navDiv{
    margin-left: 20px;
    margin-right: 20px;
}

.subHeadings{
    color: #222222;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    margin-bottom: 10px;
}

.subHeadingParagraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.subSubHeading{
    color: rgba(34,34, 34, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin-bottom: 20px;
}

.labels{
    color: rgba(34,34, 34, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.orderReview{
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summaryTotal{
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
}

.subtotal{
    color: #222222;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

.price{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}

#registrationDiv, #registrationDiv1{
    width: 70%;
    margin-left: 80px;
}

#orderReviewDiv{
    display: flex;
    flex-direction: column;
    background-color: white; 
    width:50%; 
    height: 40%;
}
#orderSummaryDiv{
    height: 40px; 
    text-align: left; 
    display: flex; 
    align-items: flex-end; 
    border-bottom: 1px solid rgba(239, 239, 239); 
    padding: 5px;
}
#onetimePaymentDiv{
    height: 100px; 
    margin-bottom: 20px; 
    border-bottom: 1px solid rgba(239, 239, 239);
}
#onetimePaymentDivParagraph{
    font-weight: 500; 
    font-size: 14px; 
    line-height: 16.71px;
}
#subTotalDiv{
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    justify-content: space-between; 
    border: none; 
    height: 120px; 
    padding: 5px;
}
#countryLabel, #countryLabels{
    display: inline-block;
}
#summaryTotalDiv{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    border: none; 
    height: 40px; 
    padding: 5px;
}

.telPhoneInputDiv{
    border-bottom: 1px solid rgba(189, 189, 189);
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    padding: 5px;
}

.inputDivs{
    margin-bottom: 20px;;
}

.form1, .form3, .form2, .orderReview{
    width: 100%;
    height: 100%;
}

#sub{
    transition: all .5s ease-in-out;
}

#sub:hover {
    transform: scale(1.07);
}
#sub{
    transition: all .3s ease-in-out;
}

@media only screen and (max-device-width: 1000px){
    .containerDiv{
        flex-direction: column-reverse !important;
    }

    .secondSection, .navDiv{
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .inputInfoCountry{
        width: 40% !important;
    }

    #orderReviewDiv{
        height: 70% !important;
        width: 60% !important;
    }

    #registrationDiv, #registrationDiv1{
        width: 80% !important;
        margin-left: 30px !important;
    }
}